openapi: 3.2.0
info:
  title: Ogc Tiling Schemes API
  version: '1.0'
  contact:
    name: Open Geospatial Consortium
    email: info@ogc.org
  license:
    name: OGC License
    url: http://www.opengeospatial.org/legal/
  description: 'Operations tagged Tiling Schemes across 2 of this provider''s published API definitions: ogc-maps-part1-1-0-openapi-ogcapi-maps-1-bundled.json, ogc-tiles-part1-1-0-openapi-ogcapi-tiles-1-bundled.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Example OGC API - Maps server
  url: https://maps.gnosis.earth/ogcapi
- description: Example OGC API - Tiles server
  url: https://maps.ecere.com/ogcapi
tags:
- name: Tiling Schemes
paths:
  /tileMatrixSets:
    get:
      tags:
      - Tiling Schemes
      summary: Retrieve the list of available tiling schemes (tile matrix sets)
      operationId: getTileMatrixSetsList
      parameters:
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/TileMatrixSetsList'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
    servers:
    - description: Example OGC API - Maps server
      url: https://maps.gnosis.earth/ogcapi
  /tileMatrixSets/{tileMatrixSetId}:
    get:
      tags:
      - Tiling Schemes
      summary: Retrieve the definition of the specified tiling scheme (tile matrix set)
      operationId: getTileMatrixSet
      parameters:
      - $ref: '#/components/parameters/tileMatrixSetId'
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/TileMatrixSet'
        '404':
          description: The requested tile matrix set id was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
    servers:
    - description: Example OGC API - Maps server
      url: https://maps.gnosis.earth/ogcapi
components:
  schemas:
    exception:
      title: Exception Schema
      description: JSON schema for exceptions based on RFC 7807
      type: object
      required:
      - type
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
    2DPoint:
      description: A 2D Point in the CRS indicated elsewhere
      type: array
      minItems: 2
      maxItems: 2
      items:
        type: number
    tileMatrixSet-item:
      title: Tile Matrix Set Item
      description: A minimal tile matrix set element for use within a list of tile matrix sets linking to a full definition.
      type: object
      required:
      - links
      properties:
        id:
          description: Optional local tile matrix set identifier, e.g. for use as unspecified `{tileMatrixSetId}` parameter. Implementation of 'identifier'
          type: string
        title:
          description: Title of this tile matrix set, normally used for display to a human
          type: string
        uri:
          description: Reference to an official source for this tileMatrixSet
          type: string
          format: uri
        crs:
          allOf:
          - description: Coordinate Reference System (CRS)
          - $ref: '#/components/schemas/crs'
        links:
          description: Links to related resources. A 'self' link to the tile matrix set definition is required.
          type: array
          items:
            $ref: '#/components/schemas/link'
    tileMatrixSets:
      type: string
      enum:
      - WebMercatorQuad
      - WorldCRS84Quad
      - GNOSISGlobalGrid
      - WorldMercatorWGS84Quad
    tileMatrixSet:
      title: Tile Matrix Set Definition
      description: A definition of a tile matrix set following the Tile Matrix Set standard. For tileset metadata, such a description (in `tileMatrixSet` property) is only required for offline use, as an alternative to a link with a `http://www.opengis.net/def/rel/ogc/1.0/tiling-scheme` relation type.
      type: object
      required:
      - crs
      - tileMatrices
      properties:
        title:
          description: Title of this tile matrix set, normally used for display to a human
          type: string
        description:
          description: Brief narrative description of this tile matrix set, normally available for display to a human
          type: string
        keywords:
          description: Unordered list of one or more commonly used or formalized word(s) or phrase(s) used to describe this tile matrix set
          type: array
          items:
            type: string
        id:
          description: Tile matrix set identifier. Implementation of 'identifier'
          type: string
        uri:
          description: Reference to an official source for this tileMatrixSet
          type: string
          format: uri
        orderedAxes:
          type: array
          minItems: 1
          items:
            type: string
        crs:
          allOf:
          - description: Coordinate Reference System (CRS)
          - $ref: '#/components/schemas/crs'
        wellKnownScaleSet:
          description: Reference to a well-known scale set
          type: string
          format: uri
        boundingBox:
          allOf:
          - description: Minimum bounding rectangle surrounding the tile matrix set, in the supported CRS
          - $ref: '#/components/schemas/2DBoundingBox'
        tileMatrices:
          type: array
          description: Describes scale levels and its tile matrices
          items:
            description: A tile matrix, usually corresponding to a particular zoom level of a TileMatrixSet.
            type: object
            required:
            - id
            - scaleDenominator
            - cellSize
            - pointOfOrigin
            - tileWidth
            - tileHeight
            - matrixWidth
            - matrixHeight
            properties:
              title:
                description: Title of this tile matrix, normally used for display to a human
                type: string
              description:
                description: Brief narrative description of this tile matrix set, normally available for display to a human
                type: string
              keywords:
                description: Unordered list of one or more commonly used or formalized word(s) or phrase(s) used to describe this dataset
                type: array
                items:
                  type: string
              id:
                description: Identifier selecting one of the scales defined in the TileMatrixSet and representing the scaleDenominator the tile. Implementation of 'identifier'
                type: string
              scaleDenominator:
                description: Scale denominator of this tile matrix
                type: number
              cellSize:
                description: Cell size of this tile matrix
                type: number
              cornerOfOrigin:
                description: The corner of the tile matrix (_topLeft_ or _bottomLeft_) used as the origin for numbering tile rows and columns. This corner is also a corner of the (0, 0) tile.
                type: string
                enum:
                - topLeft
                - bottomLeft
                default: topLeft
              pointOfOrigin:
                allOf:
                - description: Precise position in CRS coordinates of the corner of origin (e.g. the top-left corner) for this tile matrix. This position is also a corner of the (0, 0) tile. In previous version, this was 'topLeftCorner' and 'cornerOfOrigin' did not exist.
                - $ref: '#/components/schemas/2DPoint'
              tileWidth:
                type: number
                description: Width of each tile of this tile matrix in pixels
                format: integer
                minimum: 1
                multipleOf: 1
              tileHeight:
                type: number
                description: Height of each tile of this tile matrix in pixels
                format: integer
                minimum: 1
                multipleOf: 1
              matrixHeight:
                type: number
                description: Width of the matrix (number of tiles in width)
                format: integer
                minimum: 1
                multipleOf: 1
              matrixWidth:
                type: number
                description: Height of the matrix (number of tiles in height)
                format: integer
                minimum: 1
                multipleOf: 1
              variableMatrixWidths:
                description: Describes the rows that has variable matrix width
                type: array
                items:
                  description: Variable Matrix Width data structure
                  type: object
                  required:
                  - coalesce
                  - minTileRow
                  - maxTileRow
                  properties:
                    coalesce:
                      description: Number of tiles in width that coalesce in a single tile for these rows
                      type: number
                      format: integer
                      minimum: 2
                      multipleOf: 1
                    minTileRow:
                      description: First tile row where the coalescence factor applies for this tilematrix
                      type: number
                      format: integer
                      minimum: 0
                      multipleOf: 1
                    maxTileRow:
                      description: Last tile row where the coalescence factor applies for this tilematrix
                      type: number
                      format: integer
                      minimum: 0
                      multipleOf: 1
    crs:
      title: CRS
      oneOf:
      - description: Simplification of the object into a url if the other properties are not present
        type: string
      - type: object
        oneOf:
        - required:
          - uri
          properties:
            uri:
              description: Reference to one coordinate reference system (CRS)
              type: string
              format: uri
        - required:
          - wkt
          properties:
            wkt:
              allOf:
              - description: An object defining the CRS using the JSON encoding for Well-known text representation of coordinate reference systems 2.0
              - type: object
        - required:
          - referenceSystem
          properties:
            referenceSystem:
              description: A reference system data structure as defined in the MD_ReferenceSystem of the ISO 19115
              type: object
    link:
      type: object
      required:
      - href
      - rel
      properties:
        href:
          type: string
          description: Supplies the URI to a remote resource (or resource fragment).
          example: http://data.example.com/buildings/123
        rel:
          type: string
          description: The type or semantics of the relation.
          example: alternate
        type:
          type: string
          description: A hint indicating what the media type of the result of dereferencing the link should be.
          example: application/geo+json
        templated:
          type: boolean
          description: This flag set to true if the link is a URL template.
        varBase:
          description: A base path to retrieve semantic information about the variables used in URL template.
          type: string
          example: /ogcapi/vars/
        hreflang:
          type: string
          description: A hint indicating what the language of the result of dereferencing the link should be.
          example: en
        title:
          type: string
          description: Used to label the destination of a link such that it can be used as a human-readable identifier.
          example: Trierer Strasse 70, 53115 Bonn
        length:
          type: integer
    2DBoundingBox:
      description: Minimum bounding rectangle surrounding a 2D resource in the CRS indicated elsewhere
      type: object
      required:
      - lowerLeft
      - upperRight
      properties:
        lowerLeft:
          $ref: '#/components/schemas/2DPoint'
        upperRight:
          $ref: '#/components/schemas/2DPoint'
        crs:
          $ref: '#/components/schemas/crs'
        orderedAxes:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: string
  parameters:
    tileMatrixSetId:
      name: tileMatrixSetId
      in: path
      description: Identifier for a supported TileMatrixSet
      required: true
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/tileMatrixSets'
    f-metadata:
      name: f
      in: query
      description: The format of the response. If no value is provided, the accept header is used to determine the format. Accepted values are 'json' or 'html'.
      required: false
      schema:
        type: string
        enum:
        - json
        - html
      style: form
      explode: false
  responses:
    TileMatrixSetsList:
      description: List of tile matrix sets (tiling schemes).
      content:
        application/json:
          schema:
            type: object
            properties:
              tileMatrixSets:
                type: array
                items:
                  $ref: '#/components/schemas/tileMatrixSet-item'
        text/html:
          schema:
            type: string
    ServerError:
      description: A server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
    TileMatrixSet:
      description: tile matrix set
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/tileMatrixSet'
    NotAcceptable:
      description: Content negotiation failed. For example, the `Accept` header submitted in the request did not support any of the media types supported by the server for the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
x-refined-from:
- ogc-maps-part1-1-0-openapi-ogcapi-maps-1-bundled.json
- ogc-tiles-part1-1-0-openapi-ogcapi-tiles-1-bundled.json
