openapi: 3.2.0
info:
  title: Ogc Capabilities API
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Capabilities across 10 of this provider''s published API definitions: ogc-connected-systems-part1-1-0-openapi-openapi-connectedsystems-1.yaml, ogc-edr-1-0-openapi-ogcapi-environmental-data-retrieval-1-bundled.json, ogc-edr-1-1-openapi-ogcapi-environmental-data-retrieval-1-bundled.json, ogc-movingfeatures-part1-1-0-openapi-ogcapi-movingfeatures-1-bundled.json, ogc-movingfeatures-part1-1-0-openapi-ogcapi-movingfeatures-1-bundled.yaml, ogc-movingfeatures-part1-1-0-openapi-openapi-movingfeatures-1.yaml, ogc-processes-part1-1-0-openapi-ogcapi-processes-1.yaml, ogc-records-part1-1-0-openapi-ogcapi-records-1-example-all-in-one.yaml, ogc-records-part1-1-0-openapi-ogcapi-records-1-example-ref-buildingblocks-bundle.yaml, ogc-records-part1-1-0-openapi-ogcapi-records-1-example-ref-schema-repo.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.georobotix.io/ogc/t18/api
  description: OGC Testbed Demo Server
- url: http://localhost:8181/sensorhub/api
  description: Local test server
- url: https://www.example.org/edr
  description: Example OGC API - Environmental Data Retrieval server
- url: https://example.org/edr
  description: Example OGC API - Environmental Data Retrieval server
- description: Example server
  url: http://example.org/ogcapi
- url: https://example.org/data
  description: Production server
- url: https://example.org/data-dev
  description: Development server
tags:
- name: Capabilities
  description: Essential characteristics of the information available from the API.
paths:
  /:
    get:
      summary: Landing Page
      description: The landing page provides links to the API definition, the conformance statements and to the feature collections in this dataset.
      tags:
      - Capabilities
      responses:
        '200':
          $ref: responses/landingPage.yaml
    servers:
    - url: https://api.georobotix.io/ogc/t18/api
      description: OGC Testbed Demo Server
    - url: http://localhost:8181/sensorhub/api
      description: Local test server
  /conformance:
    get:
      summary: Conformance
      description: A list of all conformance classes specified in a standard that the server conforms to.
      tags:
      - Capabilities
      responses:
        '200':
          $ref: responses/conformance.yaml
    servers:
    - url: https://api.georobotix.io/ogc/t18/api
      description: OGC Testbed Demo Server
    - url: http://localhost:8181/sensorhub/api
      description: Local test server
  /collections:
    get:
      tags:
      - Capabilities
      summary: List the avialable collections from the service
      operationId: listCollections
      parameters:
      - name: bbox
        in: query
        description: 'Only features that have a geometry that intersects the bounding box are selected.

          The bounding box is provided as four or six numbers, depending on whether the

          coordinate reference system includes a vertical axis (height or depth):

          * Lower left corner, coordinate axis 1

          * Lower left corner, coordinate axis 2

          * Minimum value, coordinate axis 3 (optional)

          * Upper right corner, coordinate axis 1

          * Upper right corner, coordinate axis 2

          * Maximum value, coordinate axis 3 (optional)

          The coordinate reference system of the values is WGS 84 longitude/latitude

          (http://www.opengis.net/def/crs/OGC/1.3/CRS84) unless a different coordinate

          reference system is specified in the parameter `bbox-crs`.

          For WGS 84 longitude/latitude the values are in most cases the sequence of

          minimum longitude, minimum latitude, maximum longitude and maximum latitude.

          However, in cases where the box spans the antimeridian the first value

          (west-most box edge) is larger than the third value (east-most box edge).

          If the vertical axis is included, the third and the sixth number are the

          bottom and the top of the 3-dimensional bounding box.

          If a feature has multiple spatial geometry properties, it is the decision of the

          server whether only a single spatial geometry property is used to determine

          the extent or all relevant geometries.'
        required: false
        schema:
          oneOf:
          - items:
              minItems: 4
              maxItems: 4
              type: number
            type: array
          - items:
              minItems: 6
              maxItems: 6
              type: number
            type: array
        style: form
        explode: false
      - name: datetime
        in: query
        description: 'Either a date-time or an interval. Date and time expressions adhere to RFC 3339. Intervals may be bounded or half-bounded (double-dots at start or end).

          Examples:

          * A date-time: "2018-02-12T23:20:50Z" * A bounded interval: "2018-02-12T00:00:00Z/2018-03-18T12:31:12Z" * Half-bounded intervals: "2018-02-12T00:00:00Z/.." or "../2018-03-18T12:31:12Z"

          Only resources that have a temporal property that intersects the value of `datetime` are selected.

          If a feature has multiple temporal properties, it is the decision of the server whether only a single temporal property is used to determine the extent or all relevant temporal properties.'
        required: false
        schema:
          type: string
        style: form
        explode: false
      - name: f
        in: query
        description: format to return the data response in
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Metadata about the Environmental data collections shared by this API
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - collections
                properties:
                  links:
                    type: array
                    items:
                      type: object
                      required:
                      - href
                      - rel
                      properties:
                        href:
                          type: string
                          example: http://data.example.com/collections/monitoringsites/locations/1234
                        rel:
                          type: string
                          example: alternate
                        type:
                          type: string
                          example: application/geo+json
                        hreflang:
                          type: string
                          example: en
                        title:
                          type: string
                          example: Monitoring site name
                        length:
                          type: integer
                        templated:
                          description: defines if the link href value is a template with values requiring replacement
                          type: boolean
                    example:
                    - href: http://www.example.org/edr/collections
                      hreflang: en
                      rel: self
                      type: application/yaml
                    - href: http://www.example.org/edr/collections?f=html
                      hreflang: en
                      rel: alternate
                      type: text/html
                    - href: http://www.example.org/edr/collections?f=xml
                      hreflang: en
                      rel: alternate
                      type: application/xml
                  collections:
                    type: array
                    items:
                      type: object
                      required:
                      - links
                      - id
                      - extent
                      - data_queries
                      - parameter_names
                      - output_formats
                      - crs
                      properties:
                        links:
                          type: array
                          items:
                            type: object
                            required:
                            - href
                            - rel
                            properties:
                              href:
                                type: string
                                example: http://data.example.com/collections/monitoringsites/locations/1234
                              rel:
                                type: string
                                example: alternate
                              type:
                                type: string
                                example: application/geo+json
                              hreflang:
                                type: string
                                example: en
                              title:
                                type: string
                                example: Monitoring site name
                              length:
                                type: integer
                              templated:
                                description: defines if the link href value is a template with values requiring replacement
                                type: boolean
                          example:
                          - href: https://wwww.example.org/service/description.html
                            hreflang: en
                            rel: service-doc
                            type: text/html
                            title: ''
                          - href: https://www.example.org/service/licence.html
                            hreflang: en
                            rel: licence
                            type: text/html
                            title: ''
                          - href: https://www.example.org/service/terms-and-conditions.html
                            hreflang: en
                            rel: restrictions
                            type: text/html
                            title: ''
                          - href: http://www.example.org/edr/collections/the_collection_id/
                            hreflang: en
                            rel: collection
                            type: collection
                            title: Collection
                          - href: http://www.example.org/edr/collections/the_collection_id/position
                            hreflang: en
                            rel: data
                            type: position
                            title: Position
                          - href: http://www.example.org/edr/collections/the_collection_id/area
                            hreflang: en
                            rel: data
                            type: area
                            title: Area
                        id:
                          description: id of the collection
                          type: string
                          example: Metar data
                        title:
                          description: title of the collection
                          type: string
                          example: Metar observations
                        description:
                          description: description of the collection
                          type: string
                          example: Last 24 hours Metar observations
                        keywords:
                          description: List of keywords which help to describe the collection
                          type: array
                          items:
                            type: string
                        extent:
                          description: 'The extent of the information in the collection. In the Core only spatial and temporal

                            extents are specified. Extensions may add additional members to represent other

                            extents, for example, thermal or pressure ranges.'
                          type: object
                          properties:
                            spatial:
                              description: The spatial extent of the information in the collection.
                              type: object
                              required:
                              - bbox
                              - crs
                              properties:
                                bbox:
                                  description: 'One or more bounding boxes that describe the spatial extent of the dataset.

                                    In the Core only a single bounding box is supported. Extensions may support

                                    additional areas. If multiple areas are provided, the union of the bounding

                                    boxes describes the spatial extent.'
                                  type: array
                                  minItems: 1
                                  items:
                                    description: 'Each bounding box is provided as four or six numbers, depending on

                                      whether the coordinate reference system includes a vertical axis

                                      (height or depth):


                                      * Lower left corner, coordinate axis 1

                                      * Lower left corner, coordinate axis 2

                                      * Minimum value, coordinate axis 3 (optional)

                                      * Upper right corner, coordinate axis 1

                                      * Upper right corner, coordinate axis 2

                                      * Maximum value, coordinate axis 3 (optional)


                                      The coordinate reference system of the values is WGS 84 longitude/latitude

                                      (http://www.opengis.net/def/crs/OGC/1.3/CRS84) unless a different coordinate

                                      reference system is specified in `crs`.


                                      For WGS 84 longitude/latitude the values are in most cases the sequence of

                                      minimum longitude, minimum latitude, maximum longitude and maximum latitude.

                                      However, in cases where the box spans the antimeridian the first value

                                      (west-most box edge) is larger than the third value (east-most box edge).


                                      If the vertical axis is included, the third and the sixth number are

                                      the bottom and the top of the 3-dimensional bounding box.


                                      If a feature has multiple spatial geometry properties, it is the decision of the

                                      server whether only a single spatial geometry property is used to determine

                                      the extent or all relevant geometries.'
                                    oneOf:
                                    - items:
                                        minItems: 4
                                        maxItems: 4
                                        type: number
                                      type: array
                                    - items:
                                        minItems: 6
                                        maxItems: 6
                                        type: number
                                      type: array
                                  example:
                                  - -180
                                  - -90
                                  - 180
                                  - 90
                                crs:
                                  description: 'Coordinate reference system of the coordinates in the spatial extent

                                    (property `bbox`). The default reference system is WGS 84 longitude/latitude.

                                    In the Core this is the only supported coordinate reference system.

                                    Extensions may support additional coordinate reference systems '
                                  type: string
                                  default: GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.01745329251994328,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]
                                name:
                                  description: Name of the vertical coordinate reference system
                                  type: string
                            temporal:
                              description: The temporal extent of the information in the collection.
                              type: object
                              required:
                              - interval
                              - trs
                              properties:
                                interval:
                                  description: RFC3339 compliant Date and Time
                                  type: array
                                  minItems: 1
                                  items:
                                    description: 'Begin and end times of the time interval. The timestamps are in the

                                      temporal coordinate reference system specified in `trs`. By default

                                      this is the Gregorian calendar.'
                                    type: array
                                    minItems: 2
                                    maxItems: 2
                                    items:
                                      type:
                                      - string
                                      - 'null'
                                      format: date-time
                                    example:
                                    - - 2020-11-12T12:15Z
                                      - 2020-11-12T12:15Z
                                    - - 2020-11-12T12:15Z
                                      - 2020-11-12T12:45Z
                                    - - 2022-01-14T09:00Z
                                      - 2022-01-15T09:00Z
                                    - - 2022-01-14T09:00Z
                                      - 2022-01-14T21:00Z
                                    - - 2022-01-14T09:00Z
                                      - 2022-01-16T09:00Z
                                values:
                                  description: "Provides information about the time intervals available in the collection \nas ISO8601 compliant dates, either as a time range specified \nas start time / end time  (e.g. 2017-11-14T09:00Z/2017-11-14T21:00Z)  or\nas number of repetitions / start time / interval (e.g. R4/2017-11-14T21:00Z/PT3H) \nor a list of time values (e.g.\n2017-11-14T09:00Z,2017-11-14T12:00Z,2017-11-14T15:00Z,2017-11-14T18:00Z,2017-11-14T21:00Z)"
                                  type: array
                                  minItems: 1
                                  items:
                                    type:
                                    - string
                                    - 'null'
                                    minItems: 1
                                    format: date-time
                                    example:
                                    - - 2020-11-12T12:15Z
                                    - - 2020-11-12T12:15Z
                                      - 2020-11-12T12:30Z
                                      - 2020-11-12T12:45Z
                                    - - R12/2022-01-14T09:00Z/2022-01-15T09:00Z
                                    - - R12/2022-01-14T09:00Z/PT1H
                                    - - R12/2022-01-14T09:00Z/PT1H
                                      - R4/2022-01-14T21:00Z/PT3H
                                      - R4/2022-01-15T09:00Z/PT6H
                                trs:
                                  description: 'Coordinate reference system of the coordinates in the temporal extent

                                    (property `interval`). The default reference system is the Gregorian calendar.

                                    In the Core this is the only supported temporal coordinate reference system.

                                    Extensions may support additional temporal coordinate reference systems '
                                  type: string
                                  example: TIMECRS["DateTime",TDATUM["Gregorian Calendar"],CS[TemporalDateTime,1],AXIS["Time (T)",future]]
                                  default: http://www.opengis.net/def/uom/ISO-8601/0/Gregorian
                                name:
                                  description: Name of the temporal coordinate reference system
                                  type: string
                            vertical:
                              description: The vertical extent of the information in the collection.
                              type: object
                              required:
                              - interval
                              - vrs
                              properties:
                                interval:
                                  description: 'In the Core only a single time interval is supported. Extensions may support

                                    multiple intervals. If multiple intervals are provided, the union of the

                                    intervals describes the vertical extent.'
                                  type: array
                                  minItems: 1
                                  items:
                                    description: 'minimum and maximum heights of the vertical interval. The values are in the

                                      vertical coordinate reference system specified in `vrs`. By default

                                      this is the vertical coordinate reference system of the source information.'
                                    type: array
                                    minItems: 1
                                    items:
                                      type:
                                      - string
                                      - 'null'
                                    example:
                                    - - '2'
                                      - '100'
                                values:
                                  description: "Vertical level intervals that data in the collection is available at \nthese can be defined as follows:\nmin level / max level (e.g. \"2/100\") or \nas number of repeatitions / min level / interval (e.g.\"R5/100/50\") \nor a list of vertical levels (e.g. \"2\",10,\"80\",\"100\"}\nThe value `null` is supported and indicates an open vertical interval."
                                  type: array
                                  minItems: 1
                                  items:
                                    type:
                                    - string
                                    - 'null'
                                    example:
                                    - - 2/100
                                    - - R50/1000/-50
                                    - - '2'
                                      - '10'
                                      - '80'
                                      - '100'
                                vrs:
                                  description: 'Coordinate reference system of the coordinates in the vertical extent

                                    (property `interval`). '
                                  type: string
                                  example: VERTCS["WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PARAMETER["Vertical_Shift",0.0],PARAMETER["Direction",1.0],UNIT["Meter",1.0]],AXIS["Up",UP]
                                  default: VERTCS["WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PARAMETER["Vertical_Shift",0.0],PARAMETER["Direction",1.0],UNIT["Meter",1.0]],AXIS["Up",UP]
                                name:
                                  description: Name of the vertical coordinate reference system
                                  type: string
                        data_queries:
                          description: Detailed information relevant to individual query types
                          type: object
                          properties:
                            position:
                              type: object
                              properties:
                                link:
                                  allOf:
                                  - type: object
                                    required:
                                    - href
                                    - rel
                                    properties:
                                      href:
                                        type: string
                                        example: http://data.example.com/collections/monitoringsites/locations/1234
                                      rel:
                                        type: string
                                        example: alternate
                                      type:
                                        type: string
                                        example: application/geo+json
                                      hreflang:
                                        type: string
                                        example: en
                                      title:
                                        type: string
                                        example: Monitoring site name
                                      length:
                                        type: integer
                                      templated:
                                        description: defines if the link href value is a template with values requiring replacement
                                        type: boolean
                                  properties:
                                    href:
                                      type: string
                                      example: http://data.example.com/collections/monitoringsites/position
                                    variables:
                                      description: Property to contain any extra metadata information that is specific to an individual data queries
                                      type: object
                                      properties:
                                        title:
                                          description: title of the query
                                          type: string
                                          example: Position query
                                        description:
                                          description: description of the query
                                          type: string
                                          example: Query to return data for a defined well known text point
                                        query_type:
                                          description: Type of EDR query
                                          type: string
                                          enum:
                                          - position
                                          example: position
                                        output_formats:
                                          description: list of output formats supported by the Position query
                                          type: array
                                          items:
                                            type: string
                                          example:
                                          - CoverageJSON
                                          - GeoJSON
                                          - IWXXM
                                          - GRIB
                                        default_output_format:
                                          description: default output format for the Position query
                                          type: string
                                        crs_details:
                                          description: List of key/value definitions for the CRS's supported by the Position query.  The key is the query parameter and the value is the Well Known Text description
                                          type: array
                                          items:
                                            type: object
                                            required:
                                            - crs
                                            - wkt
                                            properties:
                                              crs:
                                                description: name of the coordinate reference system, used as the value in the crs query parameter to define the required output CRS
                                                type: string
                                                example: native
                                              wkt:
                                                description: Well Known text description of the coordinate reference system
                                                type: string
                                                example: GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.01745329251994328,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]
                            radius:
                              type: object
                              properties:
                                link:
                                  allOf:
                                  - type: object
                                    required:
                                    - href
                                    - rel
                                    properties:
                                      href:
                                        type: string
                                        example: http://data.example.com/collections/monitoringsites/locations/1234
                                      rel:
                                        type: string
                                        example: alternate
                                      type:
                                        type: string
                                        example: application/geo+json
                                      hreflang:
                                        type: string
                                        example: en
                                      title:
                                        type: string
                                        example: Monitoring site name
                                      length:
                                        type: integer
                                      templated:
                                        description: defines if the link href value is a template with values requiring replacement
                                        type: boolean
                                  properties:
                                    href:
                                      type: string
                                      example: http://data.example.com/collections/monitoringsites/radius
                                    variables:
                                      description: Property to contain any extra metadata information that is specific to an individual data queries
                                      type: object
                                      properties:
                                        title:
                                          description: title of the query
                                          type: string
                                          example: Radius query
                                        description:
                                          description: description of the query
                                          type: string
                                          example: Query to return data for a defined well known text point
                                        query_type:
                                          description: Type of EDR query
                                          type: string
                                          enum:
                                          - radius
                                          example: radius
                                        within_units:
                                          description: list of distance units radius values can be specified in
                                          type: array
                                          items:
                                            type: string
                                          example:
                                          - km
                                          - miles
                                        output_formats:
                                          description: list of formats supported by the Radius query
                                          type: array
                                          items:
                                            type: string
                                          example:
                                          - CoverageJSON
                                          - GeoJSON
                                          - IWXXM
                                          - GRIB
                                        default_output_format:
                                          description: default outputformat for the Radius query
                                          type: string
                                        crs_details:
                                          description: List of key/value definitions for the CRS's supported by the Radius query.  The key is the query parameter and the value is the Well Known Text description
                                          type: array
                                          items:
                                            type: object
                                            required:
                                            - crs
                                            - wkt
                                            properties:
                                              crs:
                                                description: name of the coordinate reference system, used as the value in the crs query parameter to define the required output CRS
                                                type: string
                                                example: native
                                              wkt:
                                                description: Well Known text description of the coordinate reference system
                                                type: string
                                                example: GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.01745329251994328,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]
                            area:
                              type: object
                              properties:
                                link:
                                  allOf:
                                  - type: object
                                    required:
                                    - href
                                    - rel
                                    properties:
                                      href:
                                        type: string
                                        example: http://data.example.com/collections/monitoringsites/locations/1234
                                      rel:
                                        type: string
                                        example: alternate
                                      type:
                                        type: string
                                        example: application/geo+json
                                      hreflang:
                                        type: string
                                        example: en
                                      title:
                                        type: string
                                        example: Monitoring site name
                                      length:
                                        type: integer
                                      templated:
                                        description: defines if the link href value is a template with values requiring replacement
                                        type: boolean
                                  properties:
                                    href:
                                      type: string
                                      example: http://data.example.com/collections/monitoringsites/area
                                    variables:
                                      description: Property to contain any extra metadata information that is specific to an individual data queries
                                      type: object
                                      properties:
                                        title:
                                          description: title of the query
                                          type: string
                                          example: Area query
                                        description:
                                          description: description of the query
                                          type: string
                                          example: Query to return data for a defined area
                                        query_type:
                                          description: Type of EDR query
                                          type: string
                                          enum:
                                          - area
                                          example: area
                                        output_formats:
                                          description: list of output formats supported by the Area query
                                          type: array
                                          items:
                                            type: string
                                          example:
                                          - CoverageJSON
                                          - GeoJSON
                                          - IWXXM
                                          - GRIB
                                        default_output_format:
                                          description: default output format for the Area query
                                          type: string
                                        crs_details:
                                          description: List of key/value definitions for the CRS's supported by the Area query.  The key is the query parameter and the value is the Well Known Text description
                                          type: array
                                          items:
                                            type: object
                                            required:
                                            - crs
                                            - wkt
                                            properties:
                                              crs:
                                                description: name of the coordinate reference system, used as the value in the crs query parameter to define the required output CRS
                                                type: string
                                                example: native
                                              wkt:
                                                description: Well Known text description of the coordinate reference system
                                                type: string
                                                example: GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.01745329251994328,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]
                            cube:
                              type: object
                              properties:
                                link:
                                  allOf:
                                  - type: object
                                    required:
                                    - href
                                    - rel
                                    properties:
                                      href:
                                        type: string
                                        example: http://data.example.com/collections/monitoringsites/locations/1234
                                      rel:
                                        type: string
                                        example: alternate
                                      type:
                                        type: string
                                        example: application/geo+json
                                      hreflang:
                                        type: string
                                        example: en
                                      title:
                                        type: string
                                        example: Monitoring site name
                                      length:
                                        type: integer
                                      templated:
                                        description: defines if the link href value is a template with values requiring replacement
                                        type: boolean
                                  properties:
                                    href:
                                      type: string
                                      example: http://data.example.com/collections/monitoringsites/cube
                                    variables:
                                      description: Property to contain any extra metadata information that is specific to an individual data queries
                                      type: object
                                      properties:
                                        title:
                                          description: title of the query
                                          type: string
                                          example: Cube query
                                        description:
                                          description: description of the query
                                          type: string
                                          example: Query to return data for a defined well known text point
                                        query_type:
                                          description: Type of EDR query
                                          type: string
                                          enum:
                                          - cube
                                          example: cube
                                        height_units:
                                          description: list of height distance units distance values can be specified in
                                          type: array
                                          items:
                                            type: string
                                          example:
                                          - m
                                          - hPa
                                        output_formats:
                                          description: list of output formats supported by the Cube query
                                          type: array
                                          items:
                                            type: string
                                          example:
                                          - CoverageJSON
                                          - GeoJSON
                                          - IWXXM
                                          - GRIB
                                        default_output_format:
                                          description: default output format of the Cube query
                                          type: string
                                        crs_details:
                                          description: List of key/value definitions for the CRS's supported by the Cube query.  The key is the query parameter and the value is the Well Known Text description
                                          type: array
                                          items:
                                            type: object
                                            required:
                                            - crs
                                            - wkt
                                            properties:
                                              crs:
                                                description: name of the coordinate reference system, used as the value in the crs query parameter to define the required output CRS
                                                type: string
                                                example: native
                                              wkt:
                                                description: Well Known text description of the coordinate reference system
                                                type: string
                                                example: GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.01745329251994328,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]
                            trajectory:
                              type: object
                              properties:
                                link:
                                  allOf:
                                  - type: object
                                    required:
                                    - href
                                    - rel
                                    properties:
                                      href:
                                        type: string
                                        example: http://data.example.com/collections/monitoringsites/locations/1234
                                      rel:
                                        type: string
                                        example: alternate
                                      type:
                                        type: string
                                        example: application/geo+json
                                      hreflang:
                                        type: string
                                        example: en
                                      title:
                                        type: string
                                        example: Monitoring site name
                                      length:
                                        type: integer
                                      templated:
                                        description: defines if the link href value is a template with values requiring replacement
                                        type: boolean
                                  properties:
                                    href:
                                      type: string
                                      example: http://data.example.com/collections/monitoringsites/trajectory
                                    variables:
                                      description: Property to contain any extra metadata information that is specific to an individual data queries
                                      type: object
                                      properties:
                                        title:
                                          description: title of the query
                                          type: string
                                          example: Trajectory query
                                        description:
                                          description: description of the query
                                          type: string
                                          example: Query to return data for a defined well known text point
                                        query_type:
                                          description: Type of EDR query
                                          type: string
                                          enum:
                                          - trajectory
                                          example: trajectory
                                        output_formats:
                                          description: list of ouputformats supported by the Trajectory query
                                          type: array
                                          items:
                                            type: string
                                          example:
                                          - CoverageJSON
                                          - GeoJSON
                                          - IWXXM
                                          - GRIB
                                        default_output_format:
                                          description: default outputformat for the Trajectory query
                                          type: string
                                        crs_details:
                                          description: List of key/value definitions for the CRS's supported by a Trajectory query.  The key is the query parameter and the value is the Well Known Text description
                                          type: array
                                          items:
                                            type: object
                                            required:
                                            - crs
                                            - wkt
                                            properties:
                                              crs:
                                                description: name of the coordinate reference system, used as the value in the crs query parameter to define the required output CRS
                                                type: string
                                                example: native
                                              wkt:
                                                description: Well Known text description of the coordinate reference system
                                                type: string
                                                example: GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.01745329251994328,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]
                            corridor:
                              type: object
                              properties:
                                link:
                                  allOf:
                                  - type: object
                                    required:
                                    - href
                                    - rel
                                    properties:
                                      href:
                                        type: string
                                        example: http://data.example.com/collections/monitoringsites/locations/1234
                                      rel:
                                        type: string
                                        example: alternate
                                      type:
                                        type: string
                                        example: application/geo+json
                                      hreflang:
                                        type: string
                                        example: en
                                      title:
                                        type: string
                                        example: Monitoring site name
                                      length:
                                        type: integer
                                      templated:
                                        description: defines if the link href value is a template with values requiring replacement
                                        type: boolean
                                  properties:
                                    href:
                                      type: string
                                      example: http://data.example.com/collections/monitoringsites/corridor
                                    variables:
                                      description: Property to contain any extra metadata information that is specific to an individual data queries
                                      type: object
                                      properties:
                                        title:
                                          description: title of the query
                                          type: string
                                          example: Corridor query
                                        description:
                                          description: description of the query
                                          type: string
                                          example: Query to return data for a defined corridor
                                        query_type:
                                          description: Type of EDR query
                                          type: string
                                          enum:
                                          - corridor
                                          example: corridor
                                        width_units:
                                          description: list of width distance units distance values can be specified in
                                          type: array
                                          items:
                                            type: string
                                          example:
                                          - km
                                          - miles
                                        height_units:
                                          description: list of height distance units distance values can be specified in
                                          type: array
                                          items:
                                            type: string
                                          example:
                                          - m
                                          - hPa
                                        output_formats:
                                          description: list of output formats the supported by the Corridor query
                                          type: array
                                          items:
                                            type: string
                                          example:
                                          - CoverageJSON
                                          - GeoJSON
                                          - IWXXM
                                          - GRIB
                                        default_output_format:
                                          description: default output format for the Corridor query
                                          type: string
                                        crs_details:
                                          description: List of key/value definitions for the CRS's supported by the Corridor query.  The key is the query parameter and the value is the Well Known Text description
                                          type: array
                                          items:
                                            type: object
                                            required:
                                            - crs
                                            - wkt
                                            properties:
                                              crs:
                                                description: name of the coordinate reference system, used as the value in the crs query parameter to define the required output CRS
                                                type: string
                                                example: native
                                              wkt:
                                                description: Well Known text description of the coordinate reference system
                                                type: string
                                                example: GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.01745329251994328,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]
                            locations:
                              type: object
                              properties:
                                link:
                                  allOf:
                                  - type: object
                                    required:
                                    - href
                                    - rel
                                    properties:
                                      href:
                                        type: string
                                        example: http://data.example.com/collections/monitoringsites/locations/1234
                                      rel:
                                        type: string
                                        example: alternate
                                      type:
                                        type: string
                                        example: application/geo+json
                                      hreflang:
                                        type: string
                                        example: en
                                      title:
                                        type: string
                                        example: Monitoring site name
                                      length:
                                        type: integer
                                      templated:
                                        description: defines if the link href value is a template with values requiring replacement
                                        type: boolean
                                  properties:
                                    href:
                                      type: string
                                      example: http://data.example.com/collections/monitoringsites/locations
                                    variables:
                                      description: Property to contain any extra metadata information that is specific to an individual data queries
                                      type: object
                                      properties:
                                        title:
                                          description: title of the query
                                          type: string
                                          example: Locations query
                                        description:
                                          description: description of the query
                                          type: string
                                          example: Query to return data for a defined well known text point
                                        query_type:
                                          description: Type of EDR query
                                          type: string
                                          enum:
                                          - locations
                                          example: locations
                                        output_formats:
                                          description: list of output formats supported by the Locations query
                                          type: array
                                          items:
                                            type: string
                                          example:
                                          - CoverageJSON
                                          - GeoJSON
                                          - IWXXM
                                          - GRIB
                                        default_output_format:
                                          description: default output format of the Locations query
                                          type: string
                                        crs_details:
                                          description: List of key/value definitions for the CRS's supported by the Locations query.  The key is the query parameter and the value is the Well Known Text description
                                          type: array
                                          items:
                                            type: object
                                            required:
                                            - crs
                                            - wkt
                                            properties:
                                              crs:
                                                description: name of the coordinate reference system, used as the value in the crs query parameter to define the required output CRS
                                                type: string
                                                example: native
                                              wkt:
                                                description: Well Known text description of the coordinate reference system
                                                type: string
                                                example: GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.01745329251994328,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]
                            items:
                              type: object
                              properties:
                                link:
                                  allOf:
                                  - type: object
                                    required:
                                    - href
                                    - rel
                                    properties:
                                      href:
                                        type: string
                                        example: http://data.example.com/collections/monitoringsites/locations/1234
                                      rel:
                                        type: string
                                        example: alternate
                                      type:
                                        type: string
                                        example: application/geo+json
                                      hreflang:
                                        type: string
                                        example: en
                                      title:
                                        type: string
                                        example: Monitoring site name
                                      length:
                                        type: integer
                                      templated:
                                        description: defines if the link href value is a template with values requiring replacement
                                        type: boolean
                                  properties:
                                    href:
                                      type: string
                                      example: http://data.example.com/collections/monitoringsites/items
                                    variables:
                                      description: Property to contain any extra metadata information that is specific to an individual data queries
                                      type: object
                                      properties:
                                        title:
                                          description: title of the query
                                          type: string
                                          example: Items query
                                        description:
                                          description: description of the query
                                          type: string
                                          example: Query to return data for a defined well known text point
                                        query_type:
                                          description: Type of EDR query
                                          type: string
                                          enum:
                                          - items
                                          example: items
                        crs:
                          description: list of the coordinate reference systems the collection results can support
                          type: array
                          items:
                            type: string
                        output_formats:
                          description: list of formats the results can be presented in
                          type: array
                          items:
                            type: string
                          example:
                          - CoverageJSON
                          - GeoJSON
                          - IWXXM
                          - GRIB
                        parameter_names:
                          description: list of the data parameters available in the collection
                          type: object
                          additionalProperties:
                            items:
                              type: object
                              title: Parameter name
                              description: Definition of data parameter
                              required:
                              - type
                              - observedProperty
                              properties:
                                type:
                                  description: type
                                  enum:
                                  - Parameter
                                description:
                                  type: string
                                label:
                                  type: string
                                data-type:
                                  description: Data type of returned parameter
                                  enum:
                                  - integer
                                  - float
                                  - string
                                unit:
                                  type: object
                                  title: unit name
                                  description: definition of data units
                                  anyOf:
                                  - required:
                                    - label
                                  - required:
                                    - symbol
                                  - required:
                                    - label
                                    - symbol
                                  properties:
                                    label:
                                      additionalProperties:
                                        type: string
                                    symbol:
                                      title: Describe unit symbol
                                      oneOf:
                                      - type: object
                                        description: Information about the symbol used to describe the units
                                        required:
                                        - value
                                        - type
                                        properties:
                                          value:
                                            description: representation of the units symbol
                                            type: string
                                          type:
                                            description: uri to detailed desxcription of the units
                                            type: string
                                      - type: string
                                      example:
                                        value: hPa
                                        type: http://www.opengis.net/def/uom/UCUM/
                                    id:
                                      type: string
                                  example:
                                    label:
                                      en: Kelvin
                                    symbol:
                                      value: K
                                      type: http://www.opengis.net/def/uom/UCUM/
                                observedProperty:
                                  type: object
                                  title: name of property
                                  description: Description of the property
                                  required:
                                  - label
                                  properties:
                                    id:
                                      description: 'URI linking to an external registry which contains the definitive definition of

                                        the observed property'
                                      type: string
                                    label:
                                      oneOf:
                                      - type: string
                                      - type: object
                                    description:
                                      type: string
                                    categories:
                                      type: array
                                      items:
                                        minItems: 1
                                        type: object
                                        required:
                                        - id
                                        - label
                                        properties:
                                          id:
                                            description: 'URI linking to an external registry which contains the definitive definition of

                                              the observed property'
                                            type: string
                                          label:
                                            oneOf:
                                            - type: string
                                            - type: object
                                          description:
                                            oneOf:
                                            - type: string
                                            - type: object
                                              required:
                                              - en
                                              properties:
                                                en:
                                                  type: string
                                  example:
                                    id: http://vocab.nerc.ac.uk/standard_name/sea_ice_area_fraction/
                                    label: Sea Ice Concentration
                                categoryEncoding:
                                  type: object
                                  additionalProperties:
                                    oneOf:
                                    - type: integer
                                    - type: array
                                      items:
                                        type: integer
                                extent:
                                  description: 'The extent of the information in the collection. In the Core only spatial and temporal

                                    extents are specified. Extensions may add additional members to represent other

                                    extents, for example, thermal or pressure ranges.'
                                  type: object
                                  properties:
                                    spatial:
                                      description: The spatial extent of the information in the collection.
                                      type: object
                                      required:
                                      - bbox
                                      - crs
                                      properties:
                                        bbox:
                                          description: 'One or more bounding boxes that describe the spatial extent of the dataset.

                                            In the Core only a single bounding box is supported. Extensions may support

                                            additional areas. If multiple areas are provided, the union of the bounding

                                            boxes describes the spatial extent.'
                                          type: array
                                          minItems: 1
                                          items:
                                            description: 'Each bounding box is provided as four or six numbers, depending on

                                              whether the coordinate reference system includes a vertical axis

                                              (height or depth):


                                              * Lower left corner, coordinate axis 1

                                              * Lower left corner, coordinate axis 2

                                              * Minimum value, coordinate axis 3 (optional)

                                              * Upper right corner, coordinate axis 1

                                              * Upper right corner, coordinate axis 2

                                              * Maximum value, coordinate axis 3 (optional)


                                              The coordinate reference system of the values is WGS 84 longitude/latitude

                                              (http://www.opengis.net/def/crs/OGC/1.3/CRS84) unless a different coordinate

                                              reference system is specified in `crs`.


                                              For WGS 84 longitude/latitude the values are in most cases the sequence of

                                              minimum longitude, minimum latitude, maximum longitude and maximum latitude.

                                              However, in cases where the box spans the antimeridian the first value

                                              (west-most box edge) is larger than the third value (east-most box edge).


                                              If the vertical axis is included, the third and the sixth number are

                                              the bottom and the top of the 3-dimensional bounding box.


                                              If a feature has multiple spatial geometry properties, it is the decision of the

                                              server whether only a single spatial geometry property is used to determine

                                              the extent or all relevant geometries.'
                                            oneOf:
                                            - items:
                                                minItems: 4
                                                maxItems: 4
                                                type: number
                                              type: array
                                            - items:
                                                minItems: 6
                                                maxItems: 6
                                                type: number
                                              type: array
                                          example:
                                          - -180
                                          - -90
                                          - 180
                                          - 90
                                        crs:
                                          description: 'Coordinate reference system of the coordinates in the spatial extent

                                            (property `bbox`). The default reference system is WGS 84 longitude/latitude.

                                            In the Core this is the only supported coordinate reference system.

                                            Extensions may support additional coordinate reference systems '
                                          type: string
                                          default: GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.01745329251994328,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]
                                        name:
                                          description: Name of the vertical coordinate reference system
                                          type: string
                                    temporal:
                                      description: The temporal extent of the information in the collection.
                                      type: object
                                      required:
                                      - interval
                                      - trs
                                      properties:
                                        interval:
                                          description: RFC3339 compliant Date and Time
                                          type: array
                                          minItems: 1
                                          items:
                                            description: 'Begin and end times of the time interval. The timestamps are in the

                                              temporal coordinate reference system specified in `trs`. By default

                                              this is the Gregorian calendar.'
                                            type: array
                                            minItems: 2
                                            maxItems: 2
                                            items:
                                              type:
                                              - string
                                              - 'null'
                                              format: date-time
                                            example:
                                            - - 2020-11-12T12:15Z
                                              - 2020-11-12T12:15Z
                                            - - 2020-11-12T12:15Z
                                              - 2020-11-12T12:45Z
                                            - - 2022-01-14T09:00Z
                                              - 2022-01-15T09:00Z
                                            - - 2022-01-14T09:00Z
                                              - 2022-01-14T21:00Z
                                            - - 2022-01-14T09:00Z
                                              - 2022-01-16T09:00Z
                                        values:
                                          description: "Provides information about the time intervals available in the collection \nas ISO8601 compliant dates, either as a time range specified \nas start time / end time  (e.g. 2017-11-14T09:00Z/2017-11-14T21:00Z)  or\nas number of repetitions / start time / interval (e.g. R4/2017-11-14T21:00Z/PT3H) \nor a list of time values (e.g.\n2017-11-14T09:00Z,2017-11-14T12:00Z,2017-11-14T15:00Z,2017-11-14T18:00Z,2017-11-14T21:00Z)"
                                          type: array
                                          minItems: 1
                                          items:
                                            type:
                                            - string
                                            - 'null'
                                            minItems: 1
                                            format: date-time
                                            example:
                                            - - 2020-11-12T12:15Z
                                            - - 2020-11-12T12:15Z
                                              - 2020-11-12T12:30Z
                                              - 2020-11-12T12:45Z
                                            - - R12/2022-01-14T09:00Z/2022-01-15T09:00Z
                                            - - R12/2022-01-14T09:00Z/PT1H
                                            - - R12/2022-01-14T09:00Z/PT1H
                                              - R4/2022-01-14T21:00Z/PT3H
                                              - R4/2022-01-15T09:00Z/PT6H
                                        trs:
                                          description: 'Coordinate reference system of the coordinates in the temporal extent

                                            (property `interval`). The default reference system is the Gregorian calendar.

                                            In the Core this is the only supported temporal coordinate reference system.

                                            Extensions may support additional temporal coordinate reference systems '
                                          type: string
                                          example: TIMECRS["DateTime",TDATUM["Gregorian Calendar"],CS[TemporalDateTime,1],AXIS["Time (T)",future]]
                                          default: http://www.opengis.net/def/uom/ISO-8601/0/Gregorian
                                        name:
                                          description: Name of the temporal coordinate reference system
                                          type: string
                                    vertical:
                                      description: The vertical extent of the information in the collection.
                                      type: object
                                      required:
                                      - interval
                                      - vrs
                                      properties:
                                        interval:
                                          description: 'In the Core only a single time interval is supported. Extensions may support

                                            multiple intervals. If multiple intervals are provided, the union of the

                                            intervals describes the vertical extent.'
                                          type: array
                                          minItems: 1
                                          items:
                                            description: 'minimum and maximum heights of the vertical interval. The values are in the

                                              vertical coordinate reference system specified in `vrs`. By default

                                              this is the vertical coordinate reference system of the source information.'
                                            type: array
                                            minItems: 1
                                            items:
                                              type:
                                              - string
                                              - 'null'
                                            example:
                                            - - '2'
                                              - '100'
                                        values:
                                          description: "Vertical level intervals that data in the collection is available at \nthese can be defined as follows:\nmin level / max level (e.g. \"2/100\") or \nas number of repeatitions / min level / interval (e.g.\"R5/100/50\") \nor a list of vertical levels (e.g. \"2\",10,\"80\",\"100\"}\nThe value `null` is supported and indicates an open vertical interval."
                                          type: array
                                          minItems: 1
                                          items:
                                            type:
                                            - string
                                            - 'null'
                                            example:
                                            - - 2/100
                                            - - R50/1000/-50
                                            - - '2'
                                              - '10'
                                              - '80'
                                              - '100'
                                        vrs:
                                          description: 'Coordinate reference system of the coordinates in the vertical extent

                                            (property `interval`). '
                                          type: string
                                          example: VERTCS["WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PARAMETER["Vertical_Shift",0.0],PARAMETER["Direction",1.0],UNIT["Meter",1.0]],AXIS["Up",UP]
                                          default: VERTCS["WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PARAMETER["Vertical_Shift",0.0],PARAMETER["Direction",1.0],UNIT["Meter",1.0]],AXIS["Up",UP]
                                        name:
                                          description: Name of the vertical coordinate reference system
                                          type: string
                                id:
                                  description: Unique ID of the parameter, this is the value used for querying the data
                                  type: string
                                measurementType:
                                  type: object
                                  title: Parameter measurement approach
                                  description: Approach to calculating the data values
                                  required:
                                  - method
                                  properties:
                                    method:
                                      type: string
                                      example: mean
                                    duration:
                                      type: string
                                      title: Measurement time duration
                                      description: The time duration that the value was calculated for as an RFC3339 duration value.  If the method value is instantaneous this value is not required.
                                      example: PT10M
                              example:
                                type: Parameter
                                id: sea_ice
                                description: Sea Ice concentration (ice=1;no ice=0)
                                unit:
                                  label: Ratio
                                  symbol:
                                    value: '1'
                                    type: http://www.opengis.net/def/uom/UCUM/
                                observedProperty:
                                  id: http://vocab.nerc.ac.uk/standard_name/sea_ice_area_fraction/
                                  label: Sea Ice Concentration
            text/html:
              schema:
                type: string
        default:
          description: An error occured.
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                properties:
                  code:
                    type: string
                  description:
                    type: string
            text/html:
              schema:
                type: string
    servers:
    - url: https://www.example.org/edr
      description: Example OGC API - Environmental Data Retrieval server
  /api:
    get:
      operationId: getAPIList
      summary: API definition
      description: A list of all API definition
      tags:
      - Capabilities
      responses:
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    collection:
      type: object
      required:
      - id
      - links
      - itemType
      properties:
        id:
          description: identifier of the collection used, for example, in URIs
          type: string
          example: address
        title:
          description: human readable title of the collection
          type: string
          example: address
        description:
          description: a description of the features in the collection
          type: string
          example: An address.
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
          example:
          - href: https://data.example.com/buildings
            rel: item
          - href: https://example.com/concepts/buildings.html
            rel: describedby
            type: text/html
        extent:
          $ref: '#/components/schemas/extent'
        itemType:
          description: indicator about the type of the items in the collection
          type: string
          default: movingfeature
        crs:
          description: the list of coordinate reference systems supported by the service
          type: array
          items:
            type: string
          default:
          - https://www.opengis.net/def/crs/OGC/1.3/CRS84
          example:
          - https://www.opengis.net/def/crs/OGC/1.3/CRS84
          - https://www.opengis.net/def/crs/EPSG/0/4326
        updateFrequency:
          description: a time interval of sampling location. The unit is millisecond.
          type: number
    exception:
      type: object
      required:
      - code
      properties:
        code:
          type: string
        description:
          type: string
    extent:
      description: 'The extent of the features in the collection. In the Core only spatial and temporal

        extents are specified. Extensions may add additional members to represent other

        extents, for example, thermal or pressure ranges.


        An array of extents is provided for each extent type (spatial, temporal). The first item

        in the array describes the overall extent of the data. All subsequent items describe more

        precise extents, e.g., to identify clusters of data. Clients only interested in the

        overall extent will only need to access the first extent in the array.'
      type: object
      properties:
        spatial:
          description: The spatial extent of the features in the collection.
          type: object
          properties:
            bbox:
              description: 'One or more bounding boxes that describe the spatial extent of the dataset.

                In the Core only a single bounding box is supported.


                Extensions may support additional areas.

                The first bounding box describes the overall spatial

                extent of the data. All subsequent bounding boxes describe

                more precise bounding boxes, e.g., to identify clusters of data.

                Clients only interested in the overall spatial extent will

                only need to access the first bounding box in the array.'
              type: array
              minItems: 1
              items:
                description: 'Each bounding box is provided as four or six numbers, depending on

                  whether the coordinate reference system includes a vertical axis

                  (height or depth):


                  * Lower left corner, coordinate axis 1

                  * Lower left corner, coordinate axis 2

                  * Minimum value, coordinate axis 3 (optional)

                  * Upper right corner, coordinate axis 1

                  * Upper right corner, coordinate axis 2

                  * Maximum value, coordinate axis 3 (optional)


                  If the value consists of four numbers, the coordinate reference system is

                  WGS 84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84)

                  unless a different coordinate reference system is specified in `crs`.


                  If the value consists of six numbers, the coordinate reference system is WGS 84

                  longitude/latitude/ellipsoidal height (http://www.opengis.net/def/crs/OGC/0/CRS84h)

                  unless a different coordinate reference system is specified in `crs`.


                  For WGS 84 longitude/latitude the values are in most cases the sequence of

                  minimum longitude, minimum latitude, maximum longitude and maximum latitude.

                  However, in cases where the box spans the antimeridian the first value

                  (west-most box edge) is larger than the third value (east-most box edge).


                  If the vertical axis is included, the third and the sixth number are

                  the bottom and the top of the 3-dimensional bounding box.


                  If a feature has multiple spatial geometry properties, it is the decision of the

                  server whether only a single spatial geometry property is used to determine

                  the extent or all relevant geometries.'
                type: array
                oneOf:
                - minItems: 4
                  maxItems: 4
                - minItems: 6
                  maxItems: 6
                items:
                  type: number
                example:
                - -180
                - -90
                - 180
                - 90
            crs:
              description: 'Coordinate reference system of the coordinates in the spatial extent

                (property `bbox`). The default reference system is WGS 84 longitude/latitude.

                In the Core the only other supported coordinate reference system is

                WGS 84 longitude/latitude/ellipsoidal height for coordinates with height.

                Extensions may support additional coordinate reference systems and add

                additional enum values.'
              type: string
              enum:
              - http://www.opengis.net/def/crs/OGC/1.3/CRS84
              - http://www.opengis.net/def/crs/OGC/0/CRS84h
              default: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        temporal:
          description: The temporal extent of the features in the collection.
          type: object
          properties:
            interval:
              description: 'One or more time intervals that describe the temporal extent of the dataset.

                In the Core only a single time interval is supported.


                Extensions may support multiple intervals.

                The first time interval describes the overall

                temporal extent of the data. All subsequent time intervals describe

                more precise time intervals, e.g., to identify clusters of data.

                Clients only interested in the overall temporal extent will only need

                to access the first time interval in the array (a pair of lower and upper

                bound instants).'
              type: array
              minItems: 1
              items:
                description: 'Begin and end times of the time interval. The timestamps are in the

                  temporal coordinate reference system specified in `trs`. By default

                  this is the Gregorian calendar.


                  The value `null` at start or end is supported and indicates a half-bounded interval.'
                type: array
                minItems: 2
                maxItems: 2
                items:
                  type:
                  - string
[...]
