openapi: 3.2.0
info:
  version: '1.0'
  title: OGC API - Tiles Vector Tiles API
  description: 'Example API Definition for OGC API - Tiles - Part 1: Core'
  contact:
    name: Open Geospatial Consortium
    email: info@ogc.org
  license:
    name: OGC License
    url: http://www.opengeospatial.org/legal/
servers:
- description: Example OGC API - Tiles server
  url: https://maps.ecere.com/ogcapi
tags:
- name: Vector Tiles
paths:
  /tiles:
    get:
      tags:
      - Vector Tiles
      summary: Retrieve a list of available vector tilesets for the dataset
      operationId: .dataset.vector.getTileSetsList
      parameters:
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/TileSetsList'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /tiles/{tileMatrixSetId}:
    get:
      tags:
      - Vector Tiles
      summary: Retrieve the vector tileset metadata for the whole dataset and the specified tiling scheme (tile matrix set)
      operationId: .dataset.vector.getTileSet
      parameters:
      - $ref: '#/components/parameters/collections'
      - $ref: '#/components/parameters/tileMatrixSetId'
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/TileSet'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /tiles/{tileMatrixSetId}/{tileMatrix}/{tileRow}/{tileCol}:
    get:
      tags:
      - Vector Tiles
      summary: Retrieve a vector tile including one or more collections from the dataset.
      operationId: .dataset.vector.getTile
      parameters:
      - $ref: '#/components/parameters/tileMatrix'
      - $ref: '#/components/parameters/tileRow'
      - $ref: '#/components/parameters/tileCol'
      - $ref: '#/components/parameters/datetime'
      - $ref: '#/components/parameters/collections-vectorTiles'
      - $ref: '#/components/parameters/subset'
      - $ref: '#/components/parameters/crs'
      - $ref: '#/components/parameters/subset-crs'
      - $ref: '#/components/parameters/tileMatrixSetId'
      - $ref: '#/components/parameters/f-vectorTile'
      responses:
        '200':
          $ref: '#/components/responses/VectorTile'
        '204':
          $ref: '#/components/responses/EmptyTile'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /styles/{styleId}/tiles:
    get:
      tags:
      - Vector Tiles
      summary: Retrieve the list of vector tilesets intended for use with a specified style for the whole dataset
      operationId: .dataset.style.vector.getTileSetsList
      parameters:
      - $ref: '#/components/parameters/styleId'
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/TileSetsList'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /styles/{styleId}/tiles/{tileMatrixSetId}:
    get:
      tags:
      - Vector Tiles
      summary: Retrieve a vector tileset intended for use with a specified style of the whole dataset for the specified tiling scheme (tile matrix set)
      operationId: .dataset.style.vector.getTileSet
      parameters:
      - $ref: '#/components/parameters/styleId'
      - $ref: '#/components/parameters/collections'
      - $ref: '#/components/parameters/tileMatrixSetId'
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/TileSet'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /styles/{styleId}/tiles/{tileMatrixSetId}/{tileMatrix}/{tileRow}/{tileCol}:
    get:
      tags:
      - Vector Tiles
      summary: Retrieve vector tiles intended for use with a specified style
      operationId: .dataset.style.vector.getTile
      parameters:
      - $ref: '#/components/parameters/tileMatrix'
      - $ref: '#/components/parameters/tileRow'
      - $ref: '#/components/parameters/tileCol'
      - $ref: '#/components/parameters/datetime'
      - $ref: '#/components/parameters/collections-vectorTiles'
      - $ref: '#/components/parameters/subset'
      - $ref: '#/components/parameters/crs'
      - $ref: '#/components/parameters/subset-crs'
      - $ref: '#/components/parameters/styleId'
      - $ref: '#/components/parameters/tileMatrixSetId'
      - $ref: '#/components/parameters/f-vectorTile'
      responses:
        '200':
          $ref: '#/components/responses/VectorTile'
        '204':
          $ref: '#/components/responses/EmptyTile'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /collections/{collectionId}/tiles:
    get:
      tags:
      - Vector Tiles
      summary: Retrieve a list of available vector tilesets for the specified collection.
      operationId: .collection.vector.getTileSetsList
      parameters:
      - $ref: '#/components/parameters/collectionId-vectorTiles'
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/TileSetsList'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /collections/{collectionId}/tiles/{tileMatrixSetId}:
    get:
      tags:
      - Vector Tiles
      summary: Retrieve the vector tileset metadata for the specified collection and tiling scheme (tile matrix set)
      operationId: .collection.vector.getTileSet
      parameters:
      - $ref: '#/components/parameters/collectionId-vectorTiles'
      - $ref: '#/components/parameters/collections-vectorTiles'
      - $ref: '#/components/parameters/tileMatrixSetId'
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/TileSet'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /collections/{collectionId}/tiles/{tileMatrixSetId}/{tileMatrix}/{tileRow}/{tileCol}:
    get:
      tags:
      - Vector Tiles
      summary: Retrieve a vector tile from a collection.
      operationId: .collection.vector.getTile
      parameters:
      - $ref: '#/components/parameters/tileMatrix'
      - $ref: '#/components/parameters/tileRow'
      - $ref: '#/components/parameters/tileCol'
      - $ref: '#/components/parameters/datetime'
      - $ref: '#/components/parameters/collectionId-vectorTiles'
      - $ref: '#/components/parameters/collections-vectorTiles'
      - $ref: '#/components/parameters/subset'
      - $ref: '#/components/parameters/crs'
      - $ref: '#/components/parameters/subset-crs'
      - $ref: '#/components/parameters/tileMatrixSetId'
      - $ref: '#/components/parameters/f-vectorTile'
      responses:
        '200':
          $ref: '#/components/responses/VectorTile'
        '204':
          $ref: '#/components/responses/EmptyTile'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /collections/{collectionId}/styles/{styleId}/tiles:
    get:
      tags:
      - Vector Tiles
      summary: Retrieve a list of vector tilesets for the specified collection intended for use with a specified style
      operationId: .collection.style.vector.getTileSetsList
      parameters:
      - $ref: '#/components/parameters/collectionId-vectorTiles'
      - $ref: '#/components/parameters/f-metadata'
      - $ref: '#/components/parameters/styleId-collection'
      responses:
        '200':
          $ref: '#/components/responses/TileSetsList'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /collections/{collectionId}/styles/{styleId}/tiles/{tileMatrixSetId}:
    get:
      tags:
      - Vector Tiles
      summary: Retrieve the vector tileset metadata for the specified collection, style and tiling scheme (tile matrix set).
      operationId: .collection.style.vector.getTileSet
      parameters:
      - $ref: '#/components/parameters/collectionId-vectorTiles'
      - $ref: '#/components/parameters/collections-vectorTiles'
      - $ref: '#/components/parameters/styleId-collection'
      - $ref: '#/components/parameters/tileMatrixSetId'
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/TileSet'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /collections/{collectionId}/styles/{styleId}/tiles/{tileMatrixSetId}/{tileMatrix}/{tileRow}/{tileCol}:
    get:
      tags:
      - Vector Tiles
      summary: Retrieve vector tiles for a specified collection, intended for use with a specified style
      operationId: .collection.style.vector.getTile
      parameters:
      - $ref: '#/components/parameters/tileMatrix'
      - $ref: '#/components/parameters/tileRow'
      - $ref: '#/components/parameters/tileCol'
      - $ref: '#/components/parameters/datetime'
      - $ref: '#/components/parameters/collectionId-vectorTiles'
      - $ref: '#/components/parameters/collections-vectorTiles'
      - $ref: '#/components/parameters/subset'
      - $ref: '#/components/parameters/crs'
      - $ref: '#/components/parameters/subset-crs'
      - $ref: '#/components/parameters/bgcolor'
      - $ref: '#/components/parameters/transparent'
      - $ref: '#/components/parameters/styleId-collection'
      - $ref: '#/components/parameters/tileMatrixSetId'
      - $ref: '#/components/parameters/f-vectorTile'
      responses:
        '200':
          $ref: '#/components/responses/VectorTile'
        '204':
          $ref: '#/components/responses/EmptyTile'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  parameters:
    tileMatrixSetId:
      name: tileMatrixSetId
      in: path
      description: Identifier for a supported TileMatrixSet
      required: true
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/tileMatrixSets'
    transparent:
      name: transparent
      in: query
      description: Background transparency of map (default=true).
      required: false
      style: form
      explode: false
      schema:
        type: boolean
        default: true
    styleId-collection:
      name: styleId
      in: path
      description: An identifier representing a specific style.
      required: true
      allowEmptyValue: false
      schema:
        type: string
    styleId:
      name: styleId
      in: path
      description: An identifier representing a specific style.
      required: true
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/styles'
    bgcolor:
      name: bgcolor
      in: query
      description: Web color name or hexadecimal 0x[AA]RRGGBB color value for the background color (default to 0x9C9C9C gray). If alpha is not specified, full opacity is assumed.
      required: false
      style: form
      explode: false
      schema:
        type: string
        default: '0xFFFFFF'
    datetime:
      name: datetime
      in: query
      description: 'Either a date-time or an interval, half-bounded or bounded. Date and time expressions

        adhere to RFC 3339. Half-bounded intervals are expressed using double-dots.


        Examples:


        * A date-time: "2018-02-12T23:20:50Z"

        * A bounded interval: "2018-02-12T00:00:00Z/2018-03-18T12:31:12Z"

        * Half-bounded intervals: "2018-02-12T00:00:00Z/.." or "../2018-03-18T12:31:12Z"


        Only features that have a temporal property that intersects the value of

        `datetime` are selected.


        If a feature has multiple temporal properties, it is the decision of the

        server whether only a single temporal property is used to determine

        the extent or all relevant temporal properties.'
      required: false
      schema:
        type: string
      style: form
      explode: false
    subset:
      name: subset
      in: query
      description: "Retrieve only part of the data by slicing or trimming along one or more axis\nFor trimming: {axisAbbrev}({low}:{high}) (preserves dimensionality)\n   An asterisk (`*`) can be used instead of {low} or {high} to indicate the minimum/maximum value.\nFor slicing:  {axisAbbrev}({value})      (reduces dimensionality)\n"
      style: form
      explode: false
      required: false
      schema:
        type: array
        items:
          type: string
    collections-vectorTiles:
      name: collections
      in: query
      style: form
      description: The collections that should be included in the response. The parameter value is a comma-separated list of collection identifiers. If the parameters is missing, some or all collections will be included. The collection will be rendered in the order specified, with the last one showing on top, unless the priority is overridden by styling rules.
      required: false
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/vectorTiles-collections'
    collections:
      name: collections
      in: query
      style: form
      description: The collections that should be included in the response. The parameter value is a comma-separated list of collection identifiers. If the parameters is missing, some or all collections will be included. The collection will be rendered in the order specified, with the last one showing on top, unless the priority is overridden by styling rules.
      required: false
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/all-collections'
    tileRow:
      name: tileRow
      in: path
      description: Row index of the tile on the selected TileMatrix. It cannot exceed the MatrixWidth-1 for the selected TileMatrix. For example, Ireland is fully within the Tile at WebMercatorQuad tileMatrix=5, tileRow=10 and tileCol=15.
      required: true
      schema:
        minimum: 0
        type: integer
      example: 10
    tileCol:
      name: tileCol
      in: path
      description: Column index of the tile on the selected TileMatrix. It cannot exceed the MatrixHeight-1 for the selected TileMatrix. For example, Ireland is fully within the Tile at WebMercatorQuad tileMatrix=5, tileRow=10 and tileCol=15.
      required: true
      schema:
        minimum: 0
        type: integer
      example: 15
    f-metadata:
      name: f
      in: query
      description: The format of the response. If no value is provided, the accept header is used to determine the format. Accepted values are 'json' or 'html'.
      required: false
      schema:
        type: string
        enum:
        - json
        - html
      style: form
      explode: false
    subset-crs:
      name: subset-crs
      in: query
      description: crs for the specified subset
      required: false
      style: form
      explode: true
      schema:
        type: string
    f-vectorTile:
      name: f
      in: query
      description: The format of the vector tile response (e.g. json). Accepted values are 'mvt' (Mapbox Vector Tiles) or 'json' (GeoJSON).
      required: false
      schema:
        type: string
        enum:
        - mvt
        - json
      style: form
      explode: false
    crs:
      name: crs
      in: query
      description: reproject the output to the given crs
      required: false
      style: form
      explode: true
      schema:
        type: string
    collectionId-vectorTiles:
      name: collectionId
      in: path
      description: Local identifier of a vector tile collection
      required: true
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/vectorTiles-collections'
    tileMatrix:
      name: tileMatrix
      in: path
      description: 'Identifier selecting one of the scales defined in the TileMatrixSet and representing the scaleDenominator the tile. For example,

        Ireland is fully within the Tile at WebMercatorQuad tileMatrix=5, tileRow=10 and tileCol=15.'
      required: true
      schema:
        type: string
      example: '5'
  schemas:
    tileSet-item:
      title: Tile Set Metadata item
      description: A minimal tileset element for use within a list of tilesets linking to full description of those tilesets.
      type: object
      required:
      - dataType
      - links
      - crs
      properties:
        title:
          description: A title for this tileset
          type: string
        dataType:
          allOf:
          - description: Type of data represented in the tileset
          - $ref: '#/components/schemas/dataType'
        crs:
          allOf:
          - description: Coordinate Reference System (CRS)
          - $ref: '#/components/schemas/crs'
        tileMatrixSetURI:
          description: Reference to a Tile Matrix Set on an offical source for Tile Matrix Sets such as the OGC NA definition server (http://www.opengis.net/def/tms/). Required if the tile matrix set is registered on an open official source.
          type: string
          format: uri
        links:
          description: Links to related resources. A 'self' link to the tileset as well as a 'http://www.opengis.net/def/rel/ogc/1.0/tiling-scheme' link to a definition of the TileMatrixSet are required.
          type: array
          items:
            $ref: '#/components/schemas/link'
    styles:
      type: string
      enum:
      - default
    tileMatrixLimits:
      title: TileMatrixLimits
      description: The limits for an individual tile matrix of a TileSet's TileMatrixSet, as defined in the OGC 2D TileMatrixSet and TileSet Metadata Standard
      type: object
      required:
      - tileMatrix
      - minTileRow
      - maxTileRow
      - minTileCol
      - maxTileCol
      properties:
        tileMatrix:
          type: string
        minTileRow:
          type: integer
          minimum: 0
        maxTileRow:
          type: integer
          minimum: 0
        minTileCol:
          type: integer
          minimum: 0
        maxTileCol:
          type: integer
          minimum: 0
    tileMatrixSets:
      type: string
      enum:
      - WebMercatorQuad
      - WorldCRS84Quad
      - GNOSISGlobalGrid
      - WorldMercatorWGS84Quad
    tileSet:
      title: Tile Set Metadata
      description: A resource describing a tileset based on the OGC TileSet Metadata Standard. At least one of the 'TileMatrixSet',  or a link with 'rel' http://www.opengis.net/def/rel/ogc/1.0/tiling-scheme
      type: object
      required:
      - dataType
      - crs
      - links
      properties:
        title:
          description: A title for this tileset
          type: string
        description:
          description: Brief narrative description of this tile set
          type: string
        dataType:
          allOf:
          - description: Type of data represented in the tileset
          - $ref: '#/components/schemas/dataType'
        crs:
          allOf:
          - description: Coordinate Reference System (CRS)
          - $ref: '#/components/schemas/crs'
        tileMatrixSetURI:
          description: Reference to a Tile Matrix Set on an offical source for Tile Matrix Sets such as the OGC NA definition server (http://www.opengis.net/def/tms/). Required if the tile matrix set is registered on an open official source.
          type: string
          format: uri
        links:
          description: 'Links to related resources. Possible link ''rel'' values are: ''http://www.opengis.net/def/rel/ogc/1.0/dataset'' for a URL pointing to the dataset, ''item'' for a URL template to get a tile; ''alternate'' for a URL pointing to another representation of the TileSetMetadata (e.g a TileJSON file); ''http://www.opengis.net/def/rel/ogc/1.0/tiling-scheme'' for a definition of the TileMatrixSet; ''http://www.opengis.net/def/rel/ogc/1.0/geodata'' for pointing to a single collection (if the tileset represents a single collection)'
          type: array
          items:
            $ref: '#/components/schemas/link'
        tileMatrixSetLimits:
          description: Limits for the TileRow and TileCol values for each TileMatrix in the tileMatrixSet. If missing, there are no limits other that the ones imposed by the TileMatrixSet. If present the TileMatrices listed are limited and the rest not available at all
          type: array
          items:
            $ref: '#/components/schemas/tileMatrixLimits'
        epoch:
          description: Epoch of the Coordinate Reference System (CRS)
          type: number
        layers:
          minItems: 1
          type: array
          items:
            type: object
            required:
            - id
            - dataType
            properties:
              title:
                description: Title of this tile matrix set, normally used for display to a human
                type: string
              description:
                description: Brief narrative description of this tile matrix set, normally available for display to a human
                type: string
              keywords:
                description: Unordered list of one or more commonly used or formalized word(s) or phrase(s) used to describe this layer
                type: string
              id:
                description: Unique identifier of the Layer. Implementation of 'identifier'
                type: string
              dataType:
                allOf:
                - description: Type of data represented in the layer
                - $ref: '#/components/schemas/dataType'
              geometryDimension:
                description: 'The geometry dimension of the features shown in this layer (0: points, 1: curves, 2: surfaces, 3: solids), unspecified: mixed or unknown'
                type: integer
                minimum: 0
                maximum: 3
              featureType:
                description: Feature type identifier. Only applicable to layers of datatype 'geometries'
                type: string
              attribution:
                description: Short reference to recognize the author or provider
                type: string
              license:
                description: License applicable to the tiles
                type: string
              pointOfContact:
                description: Useful information to contact the authors or custodians for the layer (e.g. e-mail address, a physical address,  phone numbers, etc)
                type: string
              publisher:
                description: Organization or individual responsible for making the layer available
                type: string
              theme:
                description: Category where the layer can be grouped
                type: string
              crs:
                allOf:
                - description: Coordinate Reference System (CRS)
                - $ref: '#/components/schemas/crs'
              epoch:
                description: Epoch of the Coordinate Reference System (CRS)
                type: number
              minScaleDenominator:
                description: Minimum scale denominator for usage of the layer
                type: number
              maxScaleDenominator:
                description: Maximum scale denominator for usage of the layer
                type: number
              minCellSize:
                description: Minimum cell size for usage of the layer
                type: number
              maxCellSize:
                description: Maximum cell size for usage of the layer
                type: number
              maxTileMatrix:
                description: TileMatrix identifier associated with the minScaleDenominator
                type: string
              minTileMatrix:
                description: TileMatrix identifier associated with the maxScaleDenominator
                type: string
              boundingBox:
                allOf:
                - description: Minimum bounding rectangle surrounding the layer
                - $ref: '#/components/schemas/2DBoundingBox'
              created:
                allOf:
                - description: When the layer was first produced
                - $ref: '#/components/schemas/timeStamp'
              updated:
                allOf:
                - description: Last layer change/revision
                - $ref: '#/components/schemas/timeStamp'
              style:
                allOf:
                - description: Style used to generate the layer in the tileset
                - $ref: '#/components/schemas/tileSet/properties/style/allOf/1'
              geoDataClasses:
                description: URI identifying a class of data contained in this layer (useful to determine compatibility with styles or processes)
                type: array
                items:
                  type: string
              propertiesSchema:
                allOf:
                - description: Properties represented by the features in this layer. Can be the attributes of a feature dataset (datatype=geometries) or the rangeType of a coverage (datatype=coverage)
                - description: Attributes of the features or rangetypes of a coverage. Defined by a subset of the JSON Schema for the properties of a feature
                  type: object
                  required:
                  - type
                  - properties
                  properties:
                    type:
                      type: string
                      enum:
                      - object
                    required:
                      description: Implements 'multiplicity' by citing property 'name' defined as 'additionalProperties'
                      type: array
                      minItems: 1
                      items:
                        type: string
                    properties:
                      type: object
                      default: {}
                      additionalProperties:
                        description: No property names are defined but any property name they should be described by JSON Schema. So 'additionalProperties' implements 'name'.
                        type: object
                        properties:
                          title:
                            type: string
                          description:
                            description: Implements 'description'
                            type: string
                          type:
                            type: string
                            enum:
                            - array
                            - boolean
                            - integer
                            - 'null'
                            - number
                            - object
                            - string
                          enum:
                            description: Implements 'acceptedValues'
                            type: array
                            minItems: 1
                            items: {}
                            uniqueItems: true
                          format:
                            description: Complements implementation of 'type'
                            type: string
                          contentMediaType:
                            description: Implements 'mediaType'
                            type: string
                          maximum:
                            description: Implements 'range'
                            type: number
                          exclusiveMaximum:
                            description: Implements 'range'
                            type: number
                          minimum:
                            description: Implements 'range'
                            type: number
                          exclusiveMinimum:
                            description: Implements 'range'
                            type: number
                          pattern:
                            type: string
                            format: regex
                          maxItems:
                            description: Implements 'upperMultiplicity'
                            type: integer
                            minimum: 0
                          minItems:
                            description: Implements 'lowerMultiplicity'
                            type: integer
                            default: 0
                            minimum: 0
                          observedProperty:
                            type: string
                          observedPropertyURI:
                            type: string
                            format: uri
                          uom:
                            type: string
                          uomURI:
                            type: string
                            format: uri
              links:
                description: 'Links related to this layer. Possible link ''rel'' values are: ''geodata'' for a URL pointing to the collection of geospatial data.'
                type: array
                minItems: 1
                items:
                  $ref: '#/components/schemas/link'
        boundingBox:
          allOf:
          - description: Minimum bounding rectangle surrounding the tile matrix set, in the supported CRS
          - $ref: '#/components/schemas/2DBoundingBox'
        centerPoint:
          allOf:
          - description: Location of a tile that nicely represents the tileset. Implementations may use this center value to set the default location or to present a representative tile in a user interface
          - type: object
            required:
            - coordinates
            properties:
              coordinates:
                type: array
                minItems: 2
                maxItems: 2
                items:
                  type: number
              crs:
                allOf:
                - description: Coordinate Reference System (CRS) of the coordinates
                - $ref: '#/components/schemas/crs'
              tileMatrix:
                description: TileMatrix identifier associated with the scaleDenominator
                type: string
              scaleDenominator:
                description: Scale denominator of the tile matrix selected
                type: number
              cellSize:
                description: Cell size of the tile matrix selected
                type: number
        style:
          allOf:
          - description: Style involving all layers used to generate the tileset
          - type: object
            required:
            - id
            properties:
              id:
                description: An identifier for this style. Implementation of 'identifier'
                type: string
              title:
                description: A title for this style
                type: string
              description:
                description: Brief narrative description of this style
                type: string
              keywords:
                description: keywords about this style
                type: array
                items:
                  type: string
              links:
                description: 'Links to style related resources. Possible link ''rel'' values are: ''style'' for a URL pointing to the style description, ''styleSpec'' for a URL pointing to the specification or standard used to define the style.'
                type: array
                minItems: 1
                items:
                  $ref: '#/components/schemas/link'
        attribution:
          description: Short reference to recognize the author or provider
          type: string
        license:
          description: License applicable to the tiles
          type: string
        accessConstraints:
          description: Restrictions on the availability of the Tile Set that the user needs to be aware of before using or redistributing the Tile Set
          type: string
          default: unclassified
          enum:
          - unclassified
          - restricted
          - confidential
          - secret
          - topSecret
        keywords:
          description: keywords about this tileset
          type: array
          items:
            type: string
        version:
          description: Version of the Tile Set. Changes if the data behind the tiles has been changed
          type: string
        created:
          allOf:
          - description: When the Tile Set was first produced
          - $ref: '#/components/schemas/timeStamp'
        updated:
          allOf:
          - description: Last Tile Set change/revision
          - $ref: '#/components/schemas/timeStamp'
        pointOfContact:
          description: Useful information to contact the authors or custodians for the Tile Set
          type: string
        mediaTypes:
          description: Media types available for the tiles
          type: array
          items:
            type: string
    timeStamp:
      description: This property indicates the time and date when the response was generated using RFC 3339 notation.
      type: string
      format: date-time
      example: '2017-08-17T08:05:32Z'
    exception:
      title: Exception Schema
      description: JSON schema for exceptions based on RFC 7807
      type: object
      required:
      - type
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
    2DPoint:
      description: A 2D Point in the CRS indicated elsewhere
      type: array
      minItems: 2
      maxItems: 2
      items:
        type: number
    dataType:
      anyOf:
      - type: string
      - type: string
        enum:
        - map
        - vector
        - coverage
    FeatureCollection:
      title: GeoJSON FeatureCollection
      type: object
      required:
      - type
      - features
      properties:
        type:
          type: string
          enum:
          - FeatureCollection
        features:
          type: array
          items:
            title: GeoJSON Feature
            type: object
            required:
            - type
            - properties
            - geometry
            properties:
              type:
                type: string
                enum:
                - Feature
              id:
                oneOf:
                - type: number
                - type: string
              properties:
                type:
                - object
                - 'null'
              geometry:
                oneOf:
                - title: GeoJSON Point
                  type:
                  - object
                  - 'null'
                  required:
                  - type
                  - coordinates
                  properties:
                    type:
                      type: string
                      enum:
                      - Point
                    coordinates:
                      type: array
                      minItems: 2
                      items:
                        type: number
                    bbox:
                      type: array
                      minItems: 4
                      items:
                        type: number
                - title: GeoJSON LineString
                  type: object
                  required:
                  - type
                  - coordinates
                  properties:
                    type:
                      type: string
                      enum:
                      - LineString
                    coordinates:
                      type: array
                      minItems: 2
                      items:
                        type: array
                        minItems: 2
                        items:
                          type: number
                    bbox:
                      type: array
                      minItems: 4
                      items:
                        type: number
                - title: GeoJSON Polygon
                  type: object
                  required:
                  - type
                  - coordinates
                  properties:
                    type:
                      type: string
                      enum:
                      - Polygon
                    coordinates:
                      type: array
                      items:
                        type: array
                        minItems: 4
                        items:
                          type: array
                          minItems: 2
                          items:
                            type: number
                    bbox:
                      type: array
                      minItems: 4
                      items:
                        type: number
                - title: GeoJSON MultiPoint
                  type: object
                  required:
                  - type
                  - coordinates
                  properties:
                    type:
                      type: string
                      enum:
                      - MultiPoint
                    coordinates:
                      type: array
                      items:
                        type: array
                        minItems: 2
                        items:
                          type: number
                    bbox:
                      type: array
                      minItems: 4
                      items:
                        type: number
                - title: GeoJSON MultiLineString
                  type: object
                  required:
                  - type
                  - coordinates
                  properties:
                    type:
                      type: string
                      enum:
                      - MultiLineString
                    coordinates:
                      type: array
                      items:
                        type: array
                        minItems: 2
                        items:
                          type: array
                          minItems: 2
                          items:
                            type: number
                    bbox:
                      type: array
                      minItems: 4
                      items:
                        type: number
                - title: GeoJSON MultiPolygon
                  type: object
                  required:
                  - type
                  - coordinates
                  properties:
                    type:
                      type: string
                      enum:
                      - MultiPolygon
                    coordinates:
                      type: array
                      items:
                        type: array
                        items:
                          type: array
                          minItems: 4
                          items:
                            type: array
                            minItems: 2
                            items:
                              type: number
                    bbox:
                      type: array
                      minItems: 4
                      items:
                        type: number
              bbox:
                type: array
                minItems: 4
                items:
                  type: number
        bbox:
          type: array
          minItems: 4
          items:
            type: number
    link:
      type: object
      required:
      - href
      - rel
      properties:
        href:
          type: string
          description: Supplies the URI to a remote resource (or resource fragment).
          example: http://data.example.com/buildings/123
        rel:
          type: string
          description: The type or semantics of the relation.
          example: alternate
        type:
          type: string
          description: A hint indicating what the media type of the result of dereferencing the link should be.
          example: application/geo+json
        templated:
          type: boolean
          description: This flag set to true if the link is a URL template.
        varBase:
          description: A base path to retrieve semantic information about the variables used in URL template.
          type: string
          example: /ogcapi/vars/
        hreflang:
          type: string
          description: A hint indicating what the language of the result of dereferencing the link should be.
          example: en
        title:
          type: string
          description: Used to label the destination of a link such that it can be used as a human-readable identifier.
          example: Trierer Strasse 70, 53115 Bonn
        length:
          type: integer
    all-collections:
      type: string
      enum:
      - blueMarble
      - NaturalEarth:raster:HYP_HR_SR_OB_DR
      - NaturalEarth:cultural:ne_10m_admin_0_countries
      - NaturalEarth:physical:bathymetry
      - SRTM_ViewFinderPanorama
      - HRDEM-Ottawa
      - HRDEM-RedRiver
    vectorTiles-collections:
      type: string
      enum:
      - NaturalEarth:cultural:ne_10m_admin_0_countries
      - NaturalEarth:physical:bathymetry
    crs:
      title: CRS
      oneOf:
      - description: Simplification of the object into a url if the other properties are not present
        type: string
      - type: object
        oneOf:
        - required:
          - uri
          properties:
            uri:
              description: Reference to one coordinate reference system (CRS)
              type: string
              format: uri
        - required:
          - wkt
          properties:
            wkt:
              allOf:
              - description: An object defining the CRS using the JSON encoding for Well-known text representation of coordinate reference systems 2.0
              - type: object
        - required:
          - referenceSystem
          properties:
            referenceSystem:
              description: A reference system data structure as defined in the MD_ReferenceSystem of the ISO 19115
              type: object
    2DBoundingBox:
      description: Minimum bounding rectangle surrounding a 2D resource in the CRS indicated elsewhere
      type: object
      required:
      - lowerLeft
      - upperRight
      properties:
        lowerLeft:
          $ref: '#/components/schemas/2DPoint'
        upperRight:
          $ref: '#/components/schemas/2DPoint'
        crs:
          $ref: '#/components/schemas/crs'
        orderedAxes:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: string
  responses:
    TileSet:
      description: Description of the tileset
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/tileSet'
        text/html:
          schema:
            type: string
    EmptyTile:
      description: No data available for this tile.
    NotFound:
      description: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
    ServerError:
      description: A server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
    VectorTile:
      description: A vector tile returned as a response.
      content:
        application/vnd.mapbox-vector-tile:
          schema:
            type: string
            format: binary
        application/geo+json:
          schema:
            allOf:
            - format: geojson-feature-collection
            - $ref: '#/components/schemas/FeatureCollection'
    NotAcceptable:
      description: Content negotiation failed. For example, the `Accept` header submitted in the request did not support any of the media types supported by the server for the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
    TileSetsList:
      description: List of available tilesets.
      content:
        application/json:
          schema:
            type: object
            required:
            - tilesets
            properties:
              links:
                type: array
                items:
                  $ref: '#/components/schemas/link'
              tilesets:
                type: array
                items:
                  $ref: '#/components/schemas/tileSet-item'
        text/html:
          schema:
            type: string
