openapi: 3.2.0
info:
  title: Ogc API
  version: '1.0'
  contact:
    name: Open Geospatial Consortium
    email: info@ogc.org
  license:
    name: OGC License
    url: http://www.opengeospatial.org/legal/
  description: 'Operations tagged API across 3 of this provider''s published API definitions: ogc-dggs-1-0-openapi-ogcapi-dggs-1-bundled.json, ogc-maps-part1-1-0-openapi-ogcapi-maps-1-bundled.json, ogc-tiles-part1-1-0-openapi-ogcapi-tiles-1-bundled.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Example OGC API - DGGS server
  url: https://maps.gnosis.earth/ogcapi
- description: Example OGC API - Tiles server
  url: https://maps.ecere.com/ogcapi
tags:
- name: API
paths:
  /api:
    get:
      tags:
      - API
      operationId: getAPI
      summary: Retrieve this API definition.
      parameters:
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/API'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
    servers:
    - description: Example OGC API - DGGS server
      url: https://maps.gnosis.earth/ogcapi
  /api/all-collections:
    get:
      tags:
      - API
      operationId: getAPICollections
      summary: Retrieve the list of collections available from this API implementation & deployment.
      parameters:
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/Enumeration'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
    servers:
    - description: Example OGC API - DGGS server
      url: https://maps.gnosis.earth/ogcapi
  /api/dggs:
    get:
      tags:
      - API
      operationId: getAPIDGGRS
      summary: Retrieve the list of shared Discrete Global Grid Reference Systems available from this API implementation & deployment.
      parameters:
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/Enumeration'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
    servers:
    - description: Example OGC API - DGGS server
      url: https://maps.gnosis.earth/ogcapi
  /api/tileMatrixSets:
    get:
      tags:
      - API
      operationId: getAPITileMatrixSets
      summary: JSON enumeration of the shared TileMatrixSets available from this API implementation & deployment (for inclusion in the API definition).
      parameters:
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/Enumeration'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
    servers:
    - description: Example OGC API - Maps server
      url: https://maps.gnosis.earth/ogcapi
  /api/styles:
    get:
      tags:
      - API
      operationId: getAPIStyles
      summary: Retrieve the list of dataset styles available from this API implementation & deployment.
      parameters:
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/Enumeration'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
    servers:
    - description: Example OGC API - Maps server
      url: https://maps.gnosis.earth/ogcapi
  /api/coverage-collections:
    get:
      tags:
      - API
      operationId: getAPICoverageCollections
      summary: Retrieve the list of coverages collections available from this API implementation & deployment.
      parameters:
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/Enumeration'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
    servers:
    - description: Example OGC API - Tiles server
      url: https://maps.ecere.com/ogcapi
  /api/vectorTiles-collections:
    get:
      tags:
      - API
      operationId: getAPIVectorTileCollections
      summary: Retrieve the list of collections supporting vector tiles available from this API implementation & deployment.
      parameters:
      - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/Enumeration'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
    servers:
    - description: Example OGC API - Tiles server
      url: https://maps.ecere.com/ogcapi
components:
  schemas:
    exception:
      title: Exception Schema
      description: JSON schema for exceptions based on RFC 7807
      type: object
      required:
      - type
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
    enumeration:
      type: object
      required:
      - type
      - enum
      properties:
        type:
          type: string
          enum:
          - enum
        enum:
          type: array
          items:
            type: string
  responses:
    ServerError:
      description: A server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
    Enumeration:
      description: An enumerated list of valid string values for API parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/enumeration'
        text/html:
          schema:
            type: string
    NotAcceptable:
      description: Content negotiation failed. For example, the `Accept` header submitted in the request did not support any of the media types supported by the server for the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
    NotFound:
      description: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
    API:
      description: The OpenAPI definition of the API.
      content:
        application/vnd.oai.openapi+json;version=3.0:
          schema:
            type: object
        text/html:
          schema:
            type: string
  parameters:
    f-metadata:
      name: f
      in: query
      description: The format of the response. If no value is provided, the accept header is used to determine the format. Accepted values are 'json' or 'html'.
      required: false
      schema:
        type: string
        enum:
        - json
        - html
      style: form
      explode: false
x-refined-from:
- ogc-dggs-1-0-openapi-ogcapi-dggs-1-bundled.json
- ogc-maps-part1-1-0-openapi-ogcapi-maps-1-bundled.json
- ogc-tiles-part1-1-0-openapi-ogcapi-tiles-1-bundled.json
